/* Global Styles
------------------------------------*/
:root {
    --blue-color: #278ed7;
}

html {
    scroll-behavior: smooth;
    font-family: 'Muli', sans-serif;
}

.bordered-card {
    box-shadow: 1px 1px 0px 3px var(--blue-color) !important;
    border-color: #9ed6fb !important;
    background-color: #ffffffe3;
    border-style: solid !important;
    border-width: 4px !important;
    border-left: 0px none !important;
    border-top: 0px none !important;
}

main {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f6b0bf93-bf66-4551-8b9b-b723ee634429/def0dfr-13c528d9-4fa3-4307-b04e-18359a6a27af.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y2YjBiZjkzLWJmNjYtNDU1MS04YjliLWI3MjNlZTYzNDQyOVwvZGVmMGRmci0xM2M1MjhkOS00ZmEzLTQzMDctYjA0ZS0xODM1OWE2YTI3YWYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CtvTVjjnO1gfg__iJm2tGIa8KPJLe6CTDOpuyxQnMIg) no-repeat center center fixed;
    background-size: 110%;
}

.navbar {
    background-color: var(--blue-color) !important;
}

    .navbar a {
        color: white !important;
        font-weight: 700;
    }

        .navbar a:hover {
            color: #a6dafc !important;
        }

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem !important;
    padding-left: 1rem;
}

section.full {
    min-height: 100vh;
}

.fixed-top {
    position: sticky !important;
}

img {
    width: 300px;
}

/* Profile
------------------------------------*/


/* Projects
------------------------------------*/


/* Skills
------------------------------------*/


/* Work Experience
------------------------------------*/


/* Education
------------------------------------*/


/* Contact Info
------------------------------------*/

footer {
    color: white;
    background-color: var(--blue-color);
    padding: 1rem;
    text-align: center;
    font-size: medium;
}

    footer div a:hover {
        color: white;
        text-decoration: none;
    }


nav a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #a6dafc;
    position: relative;
    width: 0%;
    transition: all ease-in-out 250ms;
}


nav a:hover::after {
    width: 100%;
}

nav li {
    display: inline-block;
    position: relative;
    text-align: center;
}

.card-container.languages {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 15px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    justify-content: center;
}

    .card-container.languages .card {
        border-color: var(--blue-color);
    }

.card-container .card {
    border: none;
    border-top-style: solid;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

img {
    vertical-align: middle;
    border-style: none;
}

#grid-development {
    grid-template-columns: 200px 200px 200px 200px 200px;
}

#grid-programming, #grid-collaboration {
    grid-template-columns: 200px 200px 200px;
}

.cards-header-custom {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    vertical-align: middle;
}

    .cards-header-custom h2 {
        font-size: 3rem ;
        border-bottom: 3px solid var(--blue-color);
        margin-bottom: 3rem;
    }

.subheader-custom {
    font-size: 2.5rem !important;
    color: var(--blue-color);
    margin-bottom: 0rem ;
}

#about .cards-header-custom h2 {
    border-bottom: none;
    margin-bottom: 0rem;
    font-size: 5rem;
}

#work-experience .cards-header-custom {
    justify-content: center;
}

.nav-other {
    color: var(--blue-color) !important;
}

.mb-18 {
    margin-bottom: 18rem;
}

.cards-body-custom {
    display: flex;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.cards-body-custom p {
    font-size: larger;
}

#about h3 {
    box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
    
}

hr {
    color: var(--blue-color);
    height: 2px!important;
    
}

#work-experience a {
    color: var(--blue-color);

}

#work-experience a:hover {
    color: black;
}