/* Global Styles
------------------------------------*/
body {
    position: relative;
}

:root {
    --blue-color: #278ed7;
    --icon-size: 175px;
    --dark-blue-color: #1e3888;
    --light-blue-color: #bbe2fc;
}

html {
    scroll-behavior: smooth;
    font-family: 'Muli', sans-serif;
}

.bordered-card {
    box-shadow: 1px 1px 0px 3px var(--blue-color) !important;
    border-color: #9ed6fb !important;
    background-color: #ffffffe3;
    border-style: solid !important;
    border-width: 4px !important;
    border-left: 0px none !important;
    border-top: 0px none !important;
}

main {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f6b0bf93-bf66-4551-8b9b-b723ee634429/def0dfr-13c528d9-4fa3-4307-b04e-18359a6a27af.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y2YjBiZjkzLWJmNjYtNDU1MS04YjliLWI3MjNlZTYzNDQyOVwvZGVmMGRmci0xM2M1MjhkOS00ZmEzLTQzMDctYjA0ZS0xODM1OWE2YTI3YWYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.CtvTVjjnO1gfg__iJm2tGIa8KPJLe6CTDOpuyxQnMIg) no-repeat center center fixed;
    background-size: 110%;
}

section.full {
    min-height: 100vh;
}

.fixed-top {
    position: sticky !important;
}

img {
    width: 300px;
    vertical-align: middle;
    border-style: none;
}

.cards-header-custom {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    vertical-align: middle;
}

    .cards-header-custom h2 {
        font-size: 3rem;
        border-bottom: 3px solid var(--blue-color);
        margin-bottom: 3rem;
    }

.subheader-custom {
    font-size: 2.5rem !important;
    color: var(--blue-color);
    margin-bottom: 0rem;
}

.mb-18 {
    margin-bottom: 18rem;
}

.cards-body-custom {
    display: flex;
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

    .cards-body-custom p {
        font-size: larger;
    }

hr {
    color: var(--blue-color);
    height: 2px !important;
}

.blue {
    color: var(--dark-blue-color);
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.fa-calendar-alt {
    margin-right: 0.4rem;
}

.fa-map-marked {
    margin-right: 0.4rem;
}

.cards-header-custom {
    justify-content: center;
}

/* Profile
------------------------------------*/
#about .cards-header-custom h2 {
    border-bottom: none;
    margin-bottom: 0rem;
    font-size: 5rem;
}

/* Technologies
------------------------------------*/
.card-container.languages {
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 15px;
    grid-template-columns: repeat(5, var(--icon-size));
    justify-content: center;
}

    .card-container.languages .card {
        border-color: var(--blue-color);
    }

.card-container .card {
    border: none;
    border-top-style: solid;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

#grid-programming, #grid-collaboration {
    grid-template-columns: repeat(3, var(--icon-size));
}

#skills .card {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
}

.bold-skills-headers {
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-blue-color);
}

/* Work Experience
------------------------------------*/
#work-experience {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

    #work-experience .card {
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 8%);
    }

    #work-experience a {
        color: var(--blue-color);
    }

        #work-experience a:hover {
            color: black;
        }

    #work-experience .card-container .card {
        border-top-style: none;
    }

.work-custom-body {
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 1rem 1rem;
    padding-bottom: 0;
    border: 1px solid var(--dark-blue-color);
    border-radius: 0.5rem !important;
    border-left-width: thick;
    border-right-width: medium;
    background-color: var(--light-blue-color);
    transition: all .2s ease-in-out;
}

    .work-custom-body:hover {
        transform: scale(1.03);
    }

.sub-work-experience {
    font-weight: lighter;
    font-size: smaller;
    margin-left: 0.4rem !important;
}

#work-experience section {
    background-color: var(--light-blue-color);
    font-size: large;
}

.list-group-item {
    background-color: var(--light-blue-color) !important;
}

.fa-caret-right {
    margin-right: 0.7rem;
    color: var(--dark-blue-color);
    vertical-align: middle;
    font-size: 1.6rem;
}

#work-experience .badge-custom {
    display: grid;
    align-items: center;
    background: var(--blue-color);
    color: white;
    padding: 0.4rem 0.7rem;
    font-size: 90%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 10rem;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s;
    font-weight: 700;
}

/* Projects
------------------------------------*/
#projects {
    font-family: 'Lato', sans-serif;
}

#pharmacy-link {
    font-size: 1.3rem;
    vertical-align: top;
}



/* Education
------------------------------------*/
#education-flex {
    display: flex;
    justify-content: space-evenly;
}

#education-flex .card {
    height: auto;
}

#education-flex .work-custom-body {
    height: 100%;
}

/* Contact Info
------------------------------------*/
footer {
    color: white;
    background-color: var(--blue-color);
    padding: 1rem;
    text-align: center;
    font-size: medium;
}

    footer div a:hover {
        color: white;
        text-decoration: none;
    }

/* Navbar
------------------------------------*/
.navbar {
    background-color: var(--blue-color) !important;
}

    .navbar a {
        color: white !important;
        font-weight: 700;
    }

        .navbar a:hover {
            color: #a6dafc !important;
        }

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem;
}

nav a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #a6dafc;
    position: relative;
    width: 0%;
    transition: all ease-in-out 250ms;
}


nav a:hover::after {
    width: 100%;
}

nav li {
    display: inline-block;
    position: relative;
    text-align: center;
}

a.nav-link {
    border-radius: 0.5rem;
}

    a.nav-link.active {
        background-color: var(--dark-blue-color);
    }
